footer {
	width: $fullSizePercent;
	text-align: center;
	padding: 1rem;
	position: relative;
	border-top: 1px solid map-get($colors, darkGrey);
	background: rgba(255,255,255, 0.95);
	margin-top: 2rem;
	@include respond-to(medium) {
		padding: 15px;
	}

	p, a {
		font-size: 0.9rem;
		letter-spacing: 1px;
		line-height: 1.3rem;
		@include respond-to(medium) {
			font-size: 9px;
			letter-spacing: 1px;
			line-height: 1rem;
	  	}
	}
}
